.*
*~
*.log
!.gitignore
*.pyc
/.idea
**/modified/test.py
**/modified/test1.txt
**/modified/test2.txt
**/modified/data/features_0104.txt
**/modified/data/test_neg_dl
**/modified/data/test_pos_dl
**/modified/data/train_pos_dl
**/modified/data/train_neg_dl
**/modified/data2
**/modified/result